<title>B.TECH</title>

<div class="title">
  <h3 style="text-align:center;color: rgb(23, 25, 26);"><b><em>Courses In B.Tech</em></b></h3>
</div>
<div class="table">

<table>
<tr>
  <th>S.No</th>
  <th>Branch</th>
  <th>BRANCH</th>
</tr>
<tr>
  <td>1</td>
  <td>CSE</td>
  <td><a href="/btcse">Computer Science and Engineering</a></td>
</tr>
<tr>
  <td>2</td>
  <td>EEE</td>
  <td><a href="/eee">Electrical and Electronics Engineering</a></td>
</tr>
<tr>
  <td>3</td>
  <td>ME</td>
  <td><a href="/me">Mechanical Engineering</a></td>
</tr>
<tr>
  <td>4</td>
  <td>CE</td>
  <td><a href="/ce">Civil Engineering</a></td>
</tr>
<tr>
  <td>5</td>
  <td>ECE</td>
  <td><a href="/ece">Electronics and Communication Engineering</a></td>
</tr>
<tr>
  <td>6</td>
  <td>IT</td>
  <td><a href="/it">Information Technology</a></td>
</tr>
<tr>
  <td>7</td>
  <td>AE</td>
  <td><a href="/ae">Aerospace Engineering</a></td>
</tr>
<tr>
  <td>8</td>
  <td>CH</td>
  <td><a href="/che">Chemical Engineering</a></td>
</tr>
<tr>
  <td>9</td>
  <td>BT</td>
  <td><a href="/bt">Biotechnology</a></td>
</tr>
<tr>
  <td>10</td>
  <td>PE</td>
  <td><a href="/pe">Petroleum Engineering</a></td>
</tr>



<tr>
  <td>16</td>
  <td>AI</td>
  <td><a href="/ai">Artificial Intelligence</a></td>
</tr>
<tr>
  <td>17</td>
  <td>DS</td>
  <td><a href="/ds">Data Science</a></td>
</tr>

<tr>
  <td>19</td>
  <td>NR</td>
  <td><a href="/nr">Nuclear Engineering</a></td>
</tr>
<tr>
  <td>20</td>
  <td>MTL</td>
  <td><a href="/mtl">Materials Science and Engineering</a></td>
</tr>
<tr>
  <td>21</td>
  <td>CE</td>
  <td><a href="/ce">Cybersecurity Engineering</a></td>
</tr>

</table>
</div>
