


<title>DIPLOMA</title>


<div class="title">
<h3 style="text-align:center;color: rgb(23, 25, 26);"><b><em>Courses In Diploma</em></b></h3>
</div>
<div class="table">

<table>
<tr>

<th>S.No</th>

<th>branch</th>

<th>BRANCH<th>

</tr>
<tr>
<td >1</td>

<td >AA</td>

<td ><a href ="/aa"> Architectural Assistantship </a></td>
</tr>
<tr>

<td >2</td>

<td >Al</td>

<td ><a href ="/aiml"> Artificial Intelligence And Machine Learning</a></td>
</tr>
<tr>
<td >3</td>

<td >AU</td>

<td ><a href ="/ae">Automobile Engineering</a></td>

</tr>

<tr>

<td >4</td>

<td >BE</td>

<td ><a href ="/be">Biomedical Engineering</a></td>
</tr>
<tr>

<td >5</td>

<td >CCB</td>

<td ><a href ="/ccb">Cloud Computing And Big Data</a></td>

</tr>
<tr>

<td >6</td>

<td >CCP</td>

<td ><a href ="/ccp">Commercial And Computer Practice</a></td>
</tr>
<tr>

<td >7</td>

<td >CE</td>

<td ><a href ="/ceeng">Civil Engineering</a></td>
</tr>
<tr>

<td >8</td>
<td >CH</td>

<td ><a href ="/cheeng">Chemical Engineering </a></td>
</tr>
<tr>
<td >9</td>
<td >CPS</td>

<td><a href ="/cpss">Cyber Physical System And Security</a></td>
</tr>
<tr>
<td >10</td>

<td >CS</td>

<td><a href ="/cmpeng">Computer Engineering </a></td>

</tr>

<tr>

<td >11</td>

<td >EC</td>

<td><a href="/ece">Electronics And Computer Engineering</a></td>

</tr>
<tr>
<td >11</td>

<td >EE</td>

<td><a href="/eee">Electrical And Electronics Engineering</a></td>
</tr>
<tr>

<td >13</td>
<td >EE</td>

<td><a href="/eie">Electronics And Instrumental Engineering</a></td>
</tr>
<tr>
<td >14</td>

<td >ES</td>

<td><a href="/es">Embedded Systems</a> </td>
</tr>
<tr>


<td >15</td>
<td >EV</td>

<td><a href="/eve">Electronics And Video Engineering </a></td>
</tr>
<tr>

<td >16</td>

<td >HS</td>

<td><a href="/hs">Home Science</a></td>

</tr>
<tr>

<td >17</td>

<td >LF</td>

<td><a href="/lft">Leather And Fashion Technology</a> </td>
</tr>
<tr>

<td >18</td>

<td >LG</td>

<td><a href="/lgft">Leather Goods & Foorwear Technology</a></td>
</tr>
<tr>
<td >19</td>

<td >ME</td>

<td ><a href="/mech">Mechanical Engineering</a></td>
</tr>
<tr>

<td >20</td>

<td >MN</td>

<td><a href="/mine">Mining Engineering</a></td>
</tr>
<tr>
<td >21</td>

<td >MT</td>

<td><a href="/me">Metallurgical Engineering</a></td>
</tr>
<tr>
<td >22</td>

<td >PH</td>

<td ><a href="/phr">Pharmacy</a></td>
</tr>
<tr>
<td >23</td>

<td >PK</td>

<td><a href="/prt">Packaging Technology</a></td>
</tr>
<tr>
<td >24</td>

<td >PT</td>

<td><a href="/pt">Printing Technology</a></td>
</tr>
<tr>
<td >25</td>

<td >TT</td>

<td><a href="/tt">Textile Technology</a></td>

</tr>

</table>
</div>
