body {
    display: inline-block;
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 10px;
  }
  .body {
    background-color: aliceblue;
    border-radius: 15px;
    border: 15px;
  }