
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <main>
    <div class="body">
      <section>
        <div class="container">
        <h1 style="padding: 20px; color : #0575a5 ;text-align: center;"><b>Diploma in Civil Engineering</b></h1>
        </div>
        <ul><h4>
          <li><strong>Course Name:</strong> Diploma in Civil Engineering</li>
          <li><strong>Eligibility:</strong> Students must score about 45% in the 10th & 12th classes from a recognized board in India.</li>
          <li><strong>Entrance Exam:</strong> Depends upon the University or College.</li>
          <li><strong>Duration of Course:</strong> 3 years (may vary depending upon the University)</li>
        </h4></ul>
      </section>
      
      <section class="admission-highlights">
        <h2><b>Diploma in Civil Engineering Admission Highlights</b></h2>
        <table>
          <tr>
            <td>Course Name</td>
            <td>Diploma in Civil Engineering</td>
          </tr>
          <tr>
            <td>Eligibility</td>
            <td>10th or 12th Passed</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>3years</td>
          </tr>
          <tr>
            <td>Fees</td>
            <td>INR 25000 per year</td>
          </tr>
          
        </table>
      </section>
    
      <section class="course-details">
        <h2><b>Diploma in Civil Engineering Course Details</b></h2>
        <ul><h4><li>In Diploma in Civil Engineering or course, students will get information about the basic knowledge of Construction Management, Mathematics, Environmental Engineering, Site Visits And Practical Training, Construction Management, and other topics that will cover in this program.</li> 
        <li>Various universities across India offered Diplomas in Civil Engineering programs. Admission for the 2023-24 academic session is open now to this program candidates can apply by the last date.</li>
        <li>Diploma in Civil Engineering eligibility criteria is that students have 10+2 passes out from any recognized board with a minimum of 45% marks and the fee for this course is INR 25,000 per year and it will differ from university to university. </li>
        <li>After completing the Diploma in Civil Engineering. Candidates offered job roles to graduates with diplomas in civil engineering are Surveyor, Civil Engineer Technician, CAD Technician, Buiding Inspector, Field Engineer, and various other roles. </li>
        <li>The starting salary for individuals with a diploma in civil engineering can vary based on factors such as location, level of education, work experience, and the specific industry. Additionally, economic conditions and demand for civil engineers in a particular region can influence salary levels</li></h4></ul>
      </section>
      
     
    
    
      <section class="admission-details">
        <h2><b>Diploma in Civil Engineering Admission</b></h2>
        <ul><h4> Students who have completed their 10th or 12th examination with 45% marks can apply for this course. A diploma in civil engineering covers various sub-topics related to Computer Aided Design, Environmental Engineering, Geotechnical Engineering, & more. <br><br>
    
        The admission process is simple and short . All the process can be completed online. The institutes are inviting online application forms for the academic session 2023-24. Interested students can apply now. <br><br>
        
        If students have any queries regarding admission, they can call on the above-given number. Our counsellors are ready to help you on every working day from 10 Am to 6 PM. Students can call without hesitation to solve all doubts regarding admission.</h4></ul>
      </section>
    
      <section class="eligibility">
        <h3><b>Diploma in Civil Engineering Eligibility Criteria:</b></h3>
        <ul><li><h4>Candidates must have completed their 10th and 12th classes with a minimum of 45% marks from a recognized board in India. Eligibility criteria might vary, but most of the colleges consider the above-mentioned eligibility criteria. </h4></li></ul>
      </section>
    
      <section class="duration">
        <h3><b>Diploma in Civil Engineering Course Duration:</b></h3>
        <ul><li><h4>The average duration for the diploma in Civil Engineering course is around 3 Years.</h4></li></ul>
      </section>
      
      <section class="fee">
        <h3><b>Diploma in Civil Engineering Fee</b></h3>
        <ul><li><h4>The fee for the Diploma in Civil Engineering varies from one institute to another. IMTS Institute is offering the course at an affordable fee. Tuition fees, exam fees, and ID card fees will also be included in the fee, of course. The average fee structure of a Diploma in Civil is ranging from Rs. 25,000 to Rs. 50,000 per year.</h4></li></ul>
      </section>
      <section class="fee">
        <h3><b>Diploma in Civil Engineering Admission Process</b></h3>
        <ul><h4>The admission process for a Diploma in Civil Engineering is given below:<br><br>
    
        <li>Applicants need to go to the official website of the institute to apply for the course.</li>
        <li>They have to click on the registration link and then register.</li>
        <li>Login with the Username and password.</li>
        <li>Fill out the application form with the correct academic and personal details.</li>
        <li>Upload the required documents within the prescribed size and format.</li>
        <li>Submit the application form. After submitting the form, the institute will send an email for confirmation and verify the details and documents to prepare the merit list.</li>
        <li>Documents and details verification is a must for students to take admission.</li>
        <li>Then they have to submit the Diploma in Civil Engineering fees.</li></h4></ul>
      </section>
    
      <section class="choose">
        <h3><b>Why Choose a Diploma in Civil Engineering?</b></h3>
        <ul><h4>Civil engineering is a discipline that integrates several fields of electrical engineering and computer science required to develop computer hardware and software. Civil engineers usually have training in electronic engineering (or electrical engineering), software design, and hardware-software integration instead of only software engineering or electronic engineering. Computer engineers are involved in many hardware and software aspects of computing.</h4></ul>
      </section>
      <section class="key">
        <h3><b>Key Features of Diploma in Civil Engineering</b></h3>
        <ul><h4>
            <li>The courses deliver a generalized perspective that allows students to view the organization in a holistic manner as well as place it in the context of the larger environment.</li>
            <li>The course is designed to make competent professionals for careers in management in the corporate sector and in public sector organizations.</li>
            <li>The students are also trained in technical and practical business skills with respect to the areas.</li>
        </h4></ul>
      </section>
    
      <section class="syllabus">
        <h3><b>Diploma in Civil Engineering Syllabus/Subjects</b></h3>
        <ul><h4>The Subjects and syllabus of the Diploma in Civil Science Engineering program are as follows:</h4>
            <table class="Syllabus">
                <thead>
                  <tr>
                    <th colspan="2">1st Year</th>
                    <th colspan="2">2nd Year</th>
                    <th colspan="2">3rd Year</th>
                  </tr>
                  <tr>
                    <th>Semester I</th>
                    <th>Semester II</th>
                    <th>Semester III</th>
                    <th>Semester IV</th>
                    <th>Semester V</th>
                    <th>Semester VI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Concepts of Electrical & Electronics Engineering</td>
                    <td>Applied Mathematics II</td>
                    <td>Computer Networks</td>
                    <td>Data Base Management System</td>
                    <td>Basic Management Skills and Indian Constitution</td>
                    <td>Network Security Management</td>
                  </tr>
                  <tr>
                    <td>Applied Science</td>
                    <td>Digital Electronics</td>
                    <td>Data Structures Using C</td>
                    <td>OOP with C++</td>
                    <td>Web Programming</td>
                    <td>Software Testing</td>
                  </tr>
                  <tr>
                    <td>Introduction to Computer Concepts</td>
                    <td>English Communication</td>
                    <td>Computer Organisation</td>
                    <td>Software Engineering</td>
                    <td>Programming with Java</td>
                    <td>Mobile Computing(ELECTIVE)</td>
                  </tr>
                  <tr>
                    <td>Applied Mathemetics 1</td>
                    <td>Programming with C</td>
                    <td>PC and Hardware Networking</td>
                    <td>Operating Systems</td>
                    <td>Web Programming Lab</td>
                    <td>Network Security Lab</td>
                  </tr>
                  <tr>
                    <td>Basic Electronics Lab</td>
                    <td>Programming with C Lab</td>
                    <td>Data structures Lab</td>
                    <td>Linux Lab</td>
                    <td>Programming with java Lab</td>
                    <td>Software Testing Lab</td>
                  </tr>
                  <tr>
                    <td>Applied Science Lab</td>
                    <td>Digital Lab</td>
                    <td>Graphical User Interface Lab</td>
                    <td>DBMS Lab</td>
                    <td>CASP</td>
                    <td>Project work 2</td>
                  </tr>
                  <tr>
                    <td>Basic Computer Skills Lab</td>
                    <td>Multimedia Lab</td>
                    <td>Web Design Lab</td>
                    <td>OOP C++ Lab</td>
                    <td>Project Work 1</td>
                  </tr>
                </tbody>
              </table>
        </ul>
      </section>
      <section class="comm">
        <h3><b>Diploma in Civil Engineering After 12th Commerce</b></h3><br>
        <h4>Candidates who belong to Commerce field in their 10th Class can Pursue Diploma in Commerce Engineering after completing their 10th.  Commerce Students have a great career opportunity for computer diploma courses because it is a very demanding career option. It helps Commerce students to gain the knowledge of IT Industry and acquire new skills to grow in their careers. This diploma teaches the practical concepts of Computer Programming.</h4>
      </section>
      <section class="after10">
        <h3><b>Diploma in Civil Engineering After 10th</b></h3><br>
        <h4>For students who want to make a career in the civil engineering field after the 10th, this is the best option to pursue this course. This will build a strong foundation in hardware and software technologies.<br>
    
            In this course, students will learn basic electrical and electronics, computer networks, operating systems, DBMS, data structures, basic Java programming, c++ programming, mobile computing and many more technical things. After completion of this course, students have theoretical as well as practical knowledge of computer engineering. <br>
            
            Students can go for higher studies or he/she can start their career after completing this course. One can get a package of a minimum of 3 LPA. <br>
            
            Students can pursue a computer engineering diploma just after completing the 10th class. Generally, the duration of the diploma course is 3 years. It helps students to understand the basic to advance level knowledge of computers. Students can establish their careers after completing the course an early age.</h4>
      </section>
      <section class="subjects">
        <h3><b>Diploma in Civil engineering after 10th subjects</b></h3><br>
        <h4>This course provides the students with the knowledge of Elementary and gives them skills in problem-solving, deeper knowledge of Physics and its laws, and analysis. This course also helps to understand the fundamental of Physics and Information technology, web designing, and computer applications.</h4>
        <li>Applied Mathematics</li>
        <li>Applied Physics</li>
        <li>Fundamentals of Civil and Information Technology</li>
        <li>Concept of Programming Using C</li>
        <li>Internet and Web technology</li>
        <li>>Office Automation Tools</li>
        <li>Operating Systems</li>
        <li>Database Management System</li>
      </section>
      <section class="scope">
        <h3><b>Scope of Diploma in Civil Engineering </b></h3>
        <h4>The scope of a Diploma in Civil Engineering is wide, as information technology is ruling in each sector. The career options after this diploma course are huge; students have great options in getting good package jobs in Building Technology.<br><br>

            A Diploma in Civil Engineering enables you to utilize information technology in many different fields since it is used in nearly every aspect of industries today. Obtaining a degree in IT and earning a good salary are both desirable outcomes for students with this diploma.<br><br>
            
            Students got reputed job profiles after completing Diploma in Civil Engineering program. Interested candidates can enroll in this course so that they can work in private as well as public sector companies. They can work in different sectors of companies like healthcare companies, Construction companies, Top Universities, etc.</h4>
      </section>
      <section class="job">
        <h3><b>Diploma in Civil Engineering Job Prospectus</b></h3>
        <h4><li>This course can deliver students very prominent job profiles, which also can upgrade your career brighter.</li><br>
    
            <li>Some reputed profiles are web designing, programming, technical writing, networking expert, mobile computing expert, system analyst, software engineering, operations executive, cloud architect and SAAS architect, system administrator, mobile application developer, and network administrator, etc.</li><br>
            
            <li>These profiles are good in positions and also are recognized for the handsome packages for the relatable experience.</li>
            The reach of this course is increasing day by day. Students are acquiring it for their career upliftment. The investment is fruitful because the results are very satisfying if a student focuses on the actual matter of study.</h4>
      </section>
      <section class="benefits">
        <h3><b>Diploma in Civil Engineering Benefits</b></h3>
        <h4>There are a lot of jobs available in the government sector for civil engineers. You have the opportunity of being hired by a number of organizations, such as the Information Technology Board, the Ministry of IT, and the Intelligence Agencies. Computer engineers are hired by the defense and military industries.<br>
    
            Apart from it, there are countless jobs available in the private IT sector for diploma holders. As soon as students complete the course, they can begin their careers. India’s IT industry is growing rapidly and producing jobs and requiring diploma candidates in computer engineering.</h4>
      </section>
      <section class="area">
        <h3><b>Diploma in Civil Engineering Employment Areas:</b></h3>
        <h4>This course is highly employable. The candidates can get into both the private and government sectors. Some of the employment areas are given below:<br>
        <li>Financial Services Sector</li>
        <li>Biotechnology industry</li>
        <li>Civil Industry</li>
        <li>Graphic Design and Art</li>
        <li>Telecommunication Industry</li>
        <li>E-commerce Services</li></h4>
      </section>
      <section class="pjobs">
        <h3><b>Diploma in Civil Engineering Employment Areas:</b></h3>
        <h4>This course is highly employable. The candidates can get into both the private and government sectors. Some of the employment areas are given below:<br>
        <li>Financial Services Sector</li>
        <li>Biotechnology industry</li>
        <li>Computer Industry</li>
        <li>Graphic Design and Art</li>
        <li>Telecommunication Industry</li>
        <li>E-commerce Services</li></h4>
      </section>
      </div>
    </main>
    